    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download</h2>
                    <p>Source code from GitHub</p>
                    <a href="https://github.com/UWMadison-CS534-Term-Project-F2018-CDH" target="_blank" class="btn btn-default btn-lg">Visit GitHub</a>

                    <p><br>Course related documents provided</p>
                    <p>
                        <a href="/assets/files/proposal.pdf" class="btn btn-default btn-lg" download>Proposal</a>
                        <a href="/assets/files/mid-term-report.pdf" class="btn btn-default btn-lg" download>Mid-term Report</a>
                        <a href="/assets/files/presentation.pdf" class="btn btn-default btn-lg" download>Final Presentation</a>
                    </p>

                    <p><br>Datasets</p>
                    <p>
                        <a href="/assets/datasets/all.zip" class="btn btn-default btn-lg" download>All Sprites</a>
                        <a href="/assets/datasets/effects.zip" class="btn btn-default btn-lg" download>Effect Sprites</a>
                        <a href="/assets/datasets/entities.zip" class="btn btn-default btn-lg" download>Entity Sprites</a>
                        <a href="/assets/datasets/environment.zip" class="btn btn-default btn-lg" download>Environment Sprites</a>
                        <a href="/assets/datasets/gui.zip" class="btn btn-default btn-lg" download>GUI Sprites</a>
                        <a href="/assets/datasets/items.zip" class="btn btn-default btn-lg" download>Item Sprites</a>
                        <a href="/assets/datasets/skills.zip" class="btn btn-default btn-lg" download>Skill Sprites</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
