    <!-- Summary Section -->
    <section id="summary" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Summary</h2>
                <p class=MsoNormal><span lang=EN>A problem in video game development is the
                amount of novel content that needs to be generated. Inspired by recent work
                from Horslev &amp; Perez-Liebana, we developed a deep convolutional generative
                adversarial network (DCGAN) to generate 2D video game sprites. Our model was
                augmented with a convolutional autoencoder that was pre-trained to render
                sprites. Our GAN would then learn the latent feature stack of the autoencoder to
                produce novel sprites. While we observed a decrease in training time to initial
                reasonable results the approach traded in stability for that speed. Overall our
                results show promise at creating novel sprites but needs further work to solve
                the stability issue.</span></p>
        </div>
    </section>
